.container-content {
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  // @media only screen and (max-width: $bp-largest) {
  //   margin: 0;
  //   width: 100%;
  // }
}

.header {
  font-size: 1.4rem;
  height: 6rem;
  background-color: #ededed;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
  }
}

.content {
  display: flex;
  padding-top: 6rem;

  @media only screen and (max-width: $bp-medium) {
    .sidebar {
      max-width: 7rem;
    }
    .side-nav .side-nav__item {
      .side-nav__link {
        width: 100%;
        padding: 1.5rem 0.3rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          text-align: center;
          font-size: 1rem;
        }
      }

      .side-nav__icon {
        margin: 0;
        height: 2rem;
        width: 2rem;
      }
    }
    .legal {
      display: none;
    }
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 285px;
}

.content.collapse-side .sidebar {
  max-width: 7rem;
}

.main-contain {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem);
  background-color: #fff;
  flex: 1;
  padding: 1rem;
}

.content-header {
  display: flex;
}

.table {
  font-size: 1.4rem;
  border: var(--line);
}